@import '../../../../../../utils/mixins.scss';
@import '../../../../../../utils/vars.scss';

.directions-block {
  display: flex;
  align-items: center;
  align-self: flex-start;
  border-radius: 50px;
  border: 1px solid $borderGray;

  &:nth-child(even) {
    align-self: flex-end;
  }

  &__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: $darkGray;
    padding: 20px 30px;

    @include xll {
      padding: 10px 15px;
      font-size: 12px;
      line-height: 18px;
    }
  }

  img {
    width: 80px;
    height: 80px;

    @include xll {
      width: 40px;
      height: 40px;
    }
  }
}