@import '../../../utils/vars.scss';
@import '../../../utils/mixins.scss';

.support-main {
  padding-bottom: 120px;

  @include Phone {
    padding-bottom: 80px;
  }

  &__content {
    padding: 80px 60px;
    background: $borderBlue;
    box-shadow: $shadow;
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 55px 160px 0;

    @include Desktop {
      margin: 55px 40px 0;
    }
    @include Phone {
      margin: 36px 10px 0;
      padding: 30px;
      border-radius: 30px;
    }

    &-title {
      font-weight: 700;
      font-size: 50px;
      line-height: 56px;
      color: $white;
      padding-bottom: 10px;

      @include Phone {
        font-size: 24px;
        line-height: 32px;
      }
    }

    &-subtitle {
      max-width: 400px;
      width: 100%;
      text-align: center;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: $white;
      padding-bottom: 40px;

      @include Phone {
        padding-bottom: 20px;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  
  &__bg {
    position: absolute;
    top: 15%;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &__background {
    background-color: $lightGrayBg;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 38%;
    width: 100%;
    left: 0;

    @include Tablet {
      top: 25%;
      height: 70%;
    }
  }
}
