@import '../../utils/mixins.scss';
@import '../../utils/vars.scss';

.skills {
  white-space: nowrap;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: $darkGray;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background: $white;
  border: 1px solid $lineGray2;
  border-radius: 50px;

  @include Phone {
    font-size: 10px;
    line-height: 20px;
    padding: 4px 10px;
  }
}