$black: #11100E;
$orange: #F1A145;
$blueButton: linear-gradient(108.97deg, #00B2FF -115.19%, #0066FF -87.77%, #00A3FF -19.45%, #0093FD 81.68%);
$blueButton2: linear-gradient(265.41deg, #00B2FF 3.74%, #0066FF 3.75%, #00A3FF 71.13%, #0093FD 94.59%);
$orangeButton: linear-gradient(114.03deg, #FFA522 49.95%, #FF8E00 77.73%, #FF7500 112.45%, #FF4C00 143.02%);
$orangeGradient: linear-gradient(216.71deg, #FF9700 -18.56%, #FF8E00 -3.4%, #FF7500 21.61%, #FF4C00 53.35%, #FF1400 90.27%, #FF0000 102.52%);
$white: #fff;
$darkGray: #3C3C3C;
$lineGray: #D8D8D8;
$lineGray2: #D9D9D9;
$lightGrayBg: #F1F3FB;
$blue: #34ABFD;
$borderBlue: #4498F7;
$borderGray: #C4C6CC;
$shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 55.5904px 36.0244px rgba(0, 0, 0, 0.0596694), 0px 36.1845px 24.6358px rgba(0, 0, 0, 0.0490718), 0px 24.8991px 17.9064px rgba(0, 0, 0, 0.0377863), 0px 16.4059px 12.1244px rgba(0, 0, 0, 0.0257138), 0px 8.46565px 6.27213px rgba(0, 0, 0, 0.0130486);