@import './utils/vars.scss';
@import './utils/mixins.scss';

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/ProximaNova-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Proxima\ Nova\ Bold.otf') format('otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/ProximaNova-Extrabld.ttf') format('ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
}

.App {
  text-align: center;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 56px;
  color: $black;
}

.candidates-card-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  color: $black;

  @include Phone {
    font-size: 18px;
    line-height: 30px;
  }
}